RecepcionFacturas_0.3/WebContent/wsdl/validadorcfd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ValidadorCFDImplService" targetNamespace="http://ws.services.common.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.services.common.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.services.common.org/" version="1.0" xmlns:tns="http://ws.services.common.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="validaXML" type="tns:validaXML"/>
<xs:element name="validaXMLResponse" type="tns:validaXMLResponse"/>
<xs:complexType name="validaXML">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="validaXMLResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:error"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="error">
<xs:sequence>
<xs:element minOccurs="0" name="clave" type="xs:string"/>
<xs:element minOccurs="0" name="descripcion" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="validaXML">
    <wsdl:part name="parameters" element="tns:validaXML">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validaXMLResponse">
    <wsdl:part name="parameters" element="tns:validaXMLResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ValidadorCFD">
    <wsdl:operation name="validaXML">
      <wsdl:input name="validaXML" message="tns:validaXML">
    </wsdl:input>
      <wsdl:output name="validaXMLResponse" message="tns:validaXMLResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidadorCFDImplServiceSoapBinding" type="tns:ValidadorCFD">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validaXML">
      <soap:operation soapAction="urn:ValidaXML" style="document"/>
      <wsdl:input name="validaXML">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validaXMLResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidadorCFDImplService">
    <wsdl:port name="ValidadorCFDImplPort" binding="tns:ValidadorCFDImplServiceSoapBinding">
      <soap:address location="http://localhost:8080/RecepcionFacturas/services/ValidadorCFDImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
